src/experimentation/dataset/
venv/
.DS_Store

## Common Python files to ignore
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.eggs/
*.log



# airflow docker image
airflow/logs
airflow/dags/__pycache__

# Pycharm interpreter
.idea

# DVC
data/raw
data/prepared

# results
/model